<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="sp.beans.Student" id="stdId1">
        <property name="name" value="deepak"/>
        <property name="rollno" value="1234"/>
        <property name="email" value="deepa@gmail.com"/>
    </bean>

    <bean class="sp.beans.Student" id="stdId2">
        <property name="name" value="tushar"/>
        <property name="rollno" value="56987"/>
        <property name="email" value="tushar@gmail.com"/>
    </bean>

</beans>
