<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<!-- bean for Address (constructior DI)-->
<bean class="sp.beans.AddressCDI" id="add">
<constructor-arg  value="520"/>
<constructor-arg  value = "khairi"/>
<constructor-arg  value="481337"/>
</bean>

<!-- bean for Student (constructior DI)-->
<bean class="sp.beans.StudentCDI" id="sdt1">
<constructor-arg   value="123"/>
<constructor-arg   value="deepka"/>
<constructor-arg   ref="add"/>
</bean>
</beans>